<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
<!--        <property name="hibernate.connection.url">jdbc:postgresql://localhost/register</property>-->
        <property name="hibernate.connection.url">jdbc:postgresql://localhost/hibernateTest</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">pg4002qaz</property>
        <property name="hibernate.connection.pool_size">1</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.show_sql">true</property>

        <mapping class="ru.alishev.springcourse.entity.PersonEntity" />
        <mapping class="ru.alishev.springcourse.entity.Technicalrecuirment" />
        <mapping class="ru.alishev.springcourse.entity.Course" />

        <!--        <mapping resource="person.hbm.xml" />-->
    </session-factory>
</hibernate-configuration>